nossl * *;
group web
{
  {% for host in groups['front'] -%}
  host {{ host }};
  {% endfor -%}
  key /etc/csync2.key;
  {% for directory in lsyncd_directories -%}
  include {{ directory }};
  {% endfor -%}
 
  auto younger;
}